
// THIS FILE IS AN EXAMPLE FOR THE .env FILE WHICH IS REQUIRED FOR THE 
// BACKEND TO RUN MAKE SURE YOU HAVE THESE FEILDS & VALUE.

RAZORPAY_KEY_ID=""
RAZORPAY_SECRET_KEY=""
CLIENT_ID=""
MONGODB_URI=""
JWT_SECRET=""
NODE_MAILER_SENDER_PASSWORD=""
NODE_MAILER_SENDER_EMAIL=""
GEMINI_API_KEY=""